body {
  background: linear-gradient(to right, rgb(39, 39, 39), #464444);
}

p {
  color: $white;
  &:hover {
    font-weight: map-get($font-weights, bold);
  }
}
/* uso extend en los heading */

%heading {
  color: $white;
  font: {
    family: verdana;
    size: 2em;
  }
}

h1 {
  @extend %heading;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: map-get($font-weights, regular);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  @extend %heading;
  font-size: calc(1.325rem + 0.9vw);
  font-weight: map-get($font-weights, bold);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  @extend %heading;
  font-weight: map-get($font-weights, bold);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}
ul {
  text-indent: 28pt;
  font: {
    size: 1.3em;
  }
}

/* Animaciones  */
.rotate:hover {
  animation: rotation 3s infinite linear;
}

footer {
  .row {
    background: black;
    a {
      &:hover {
        zoom: 1.2;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.saturar {
  animation: saturate 3s infinite linear;
}

@keyframes saturate {
  from {
    filter: saturate(50%);
  }
  to {
    filter: saturate(180%);
  }
}

/* efecto titulos */
span {
  animation: cajaH2 3s infinite linear;
  border-radius: 10px;
}

@keyframes cajaH2 {
  from {
    background-color: rgb(39, 39, 39);
  }
  to {
    background-color: #464444;
  }
}

/* Uso el mixin en los botones del form de contacto */
form {
  .acepta {
    @include efecto3d(grey);
    &:hover {
      @include efecto3d(green);
    }
  }
  .reset {
    @extend .acepta;
    &:hover {
      @include efecto3d(red);
    }
  }
}
